{
  "openapi": "3.0.2",
  "info": {
    "title": "PACS.AI API",
    "description": "PACS REST API documentation.",
    "termsOfService": "https://github.com/HeartWise-AI",
    "contact": {
      "name": "HeartWise AI",
      "email": "hello@heartwise.ai"
    },
    "version": "0.18.5-beta"
  },
  "servers": [
    {
      "url": "https://pacs-api.heartwise.ai/api/v1",
      "description": "Production"
    },
    {
      "url": "https://sgbmavram01.icm.local/api/v1",
      "description": "Production MHI"
    },
    {
      "url": "http://198.168.188.204/api/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local Docker"
    }
  ],
  "tags": [
    {
      "name": "elasticsearch",
      "description": "Elasticsearch service"
    },
    {
      "name": "iam",
      "description": "IAM service"
    },
    {
      "name": "inference",
      "description": "Inference service"
    },
    {
      "name": "lead",
      "description": "Lead service"
    },
    {
      "name": "orthanc",
      "description": "Orthanc service"
    },
    {
      "name": "tenant",
      "description": "Tenant service"
    },
    {
      "name": "user",
      "description": "User service"
    }
  ],
  "paths": {
    "/ecs/logs": {
      "get": {
        "tags": ["elasticsearch"],
        "summary": "Search Elasticsearch Logs",
        "description": "Search elasticsearch logs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "description": "Index of document",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "logins",
                "admin_members",
                "find_modality_studies",
                "predict_inference_models",
                "retrieved_studies"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Target query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date range (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date range (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "export",
            "in": "query",
            "description": "Export to CSV",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/ecs/kibana/indices/sync": {
      "patch": {
        "tags": ["elasticsearch"],
        "summary": "Sync Kibana Indices - SUPERADMIN",
        "description": "Sync kibana indices. Callable by superadmin only.",
        "security": [
          {
            "firebaseSudoKey": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/login": {
      "post": {
        "tags": ["iam"],
        "summary": "Login Tenant User",
        "description": "Login tenant user.",
        "requestBody": {
          "description": "Login tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/forgot-password": {
      "post": {
        "tags": ["iam"],
        "summary": "Forgot Tenant User Password",
        "description": "Forgot tenant user password.",
        "requestBody": {
          "description": "Forgot tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/verify-email": {
      "post": {
        "tags": ["iam"],
        "summary": "Verify Tenant User Email",
        "description": "Verify tenant user email.",
        "requestBody": {
          "description": "Verify tenant user email request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTenantUserEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/add": {
      "post": {
        "tags": ["inference"],
        "summary": "Add Inference Model",
        "description": "Add inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Add inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/restart": {
      "post": {
        "tags": ["inference"],
        "summary": "Restart Inference Model Container",
        "description": "Restart inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/start": {
      "post": {
        "tags": ["inference"],
        "summary": "Start Inference Model Container",
        "description": "Start inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/stop": {
      "post": {
        "tags": ["inference"],
        "summary": "Stop Inference Model Container",
        "description": "Stop inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/predict": {
      "post": {
        "tags": ["inference"],
        "summary": "Predict Inference Model",
        "description": "Predict inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Predict inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/list": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Models",
        "description": "Get inference models.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/info": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Container Info",
        "description": "Get inference model container info.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/info": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Info",
        "description": "Get inference model info.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/facts": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Facts",
        "description": "Get inference model facts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/available": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Available Models",
        "description": "Get inference available models.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{id}/remove": {
      "delete": {
        "tags": ["inference"],
        "summary": "Delete Inference Model",
        "description": "Delete inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{id}/update": {
      "put": {
        "tags": ["inference"],
        "summary": "Update Inference Model",
        "description": "Update inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/lead/contact-form": {
      "post": {
        "tags": ["lead"],
        "summary": "Add Contact Form",
        "description": "Add contact form.",
        "requestBody": {
          "description": "Add contact form request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactFormRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/lead/subscribe": {
      "post": {
        "tags": ["lead"],
        "summary": "Subscribe to Newsletter",
        "description": "Subscribe to newsletter.",
        "requestBody": {
          "description": "Subscribe request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Tenant By ID",
        "description": "Get tenant by id.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/echo": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Trigger DICOM Echo SCU",
        "description": "Trigger DICOM Echo SCU. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/studies": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Find Modality Studies",
        "description": "Find modality studies.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Find modality studies request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindModalityStudiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/retrieve": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Retrieve Modality Study",
        "description": "Retrieve modality study.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Retrieve modality study request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveModalityStudyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/jobs": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Get Jobs Info",
        "description": "Get jobs information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobIds",
            "in": "query",
            "description": "Job IDs",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modalities/list": {
      "get": {
        "tags": ["orthanc"],
        "summary": "List DICOM Modalities",
        "description": "List DICOM modalities.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/sop-instance/{sopInstanceUID}/find": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Find Local SOP Instance",
        "description": "Find local SOP instance.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sopInstanceUID",
            "in": "path",
            "description": "SOP Instance UID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/update": {
      "put": {
        "tags": ["orthanc"],
        "summary": "Update DICOM Modality",
        "description": "Update DICOM modality. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update DICOM modality request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDICOMModalityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/remove": {
      "delete": {
        "tags": ["orthanc"],
        "summary": "Remove DICOM Modality",
        "description": "Remove DICOM modality. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/public": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Public Tenant By ID",
        "description": "Get public tenant by id.",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/owner/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant Owner - SUPERADMIN",
        "description": "Create tenant owner. Callable by superadmin only.",
        "security": [
          {
            "firebaseSudoKey": []
          }
        ],
        "requestBody": {
          "description": "Create tenant owner request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantOwnerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant User",
        "description": "Create tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Create tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/all": {
      "get": {
        "tags": ["user"],
        "summary": "Get Tenant Users",
        "description": "Get tenant users.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/specialties": {
      "get": {
        "tags": ["user"],
        "summary": "Get Doctor Specialties",
        "description": "Get doctor specialties.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "tags": ["user"],
        "summary": "Get Current Tenant User",
        "description": "Get current tenant user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User",
        "description": "Update tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/password/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User Password",
        "description": "Update tenant user password.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/{id}/remove": {
      "delete": {
        "tags": ["user"],
        "summary": "Remove Tenant User",
        "description": "Remove tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": { "description": "Success" },
          "4xx": { "description": "Client side errors" },
          "5xx": { "description": "Server side errors" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddInferenceModelRequest": {
        "required": ["name", "dockerImage", "outputMode"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "dockerImage": {
            "type": "string"
          },
          "envs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "outputMode": {
            "type": "string",
            "enum": ["JSON", "OHIF_ANNOTATIONS", "HTML", "WEB_APP", "PDF"]
          }
        }
      },
      "AddContactFormRequest": {
        "required": ["token", "name", "email", "message"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SubscribeRequest": {
        "required": ["token", "email"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CreateTenantOwnerRequest": {
        "required": [
          "tenantId",
          "role",
          "name",
          "email",
          "licenseNo",
          "specialty"
        ],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "CreateTenantUserRequest": {
        "required": ["role", "name", "email", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "PredictInferenceModelRequest": {
        "required": ["studyInstanceUID", "seriesInstanceUIDs"],
        "type": "object",
        "properties": {
          "studyInstanceUID": {
            "type": "string"
          },
          "seriesInstanceUIDs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additionalMetadata": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "RetrieveModalityStudyRequest": {
        "required": ["modalityId", "studyInstanceUID"],
        "type": "object",
        "properties": {
          "modalityId": {
            "type": "string"
          },
          "studyInstanceUID": {
            "type": "string"
          }
        }
      },
      "ForgotTenantUserPasswordRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "FindModalityStudiesRequest": {
        "required": ["modalityId"],
        "type": "object",
        "properties": {
          "modalityId": {
            "type": "string"
          },
          "accessionNumber": {
            "type": "string"
          },
          "institutionName": {
            "type": "string"
          },
          "modalitiesInStudy": {
            "type": "string"
          },
          "numberOfStudyRelatedSeries": {
            "type": "string"
          },
          "patientBirthDate": {
            "type": "string"
          },
          "patientId": {
            "type": "string"
          },
          "patientName": {
            "type": "string"
          },
          "patientSex": {
            "type": "string"
          },
          "referringPhysicianName": {
            "type": "string"
          },
          "requestingPhysician": {
            "type": "string"
          },
          "studyDate": {
            "type": "string"
          },
          "studyDescription": {
            "type": "string"
          },
          "studyId": {
            "type": "string"
          },
          "studyInstanceUID": {
            "type": "string"
          },
          "studyTime": {
            "type": "string"
          }
        }
      },
      "LoginTenantUserRequest": {
        "required": ["tenantId", "idToken"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "idToken": {
            "type": "string"
          }
        }
      },
      "PredictionRequest": {
        "required": ["queryId"],
        "type": "object",
        "properties": {
          "queryId": {
            "type": "string"
          }
        }
      },
      "UpdateTenantUserRequest": {
        "required": ["id", "role", "name", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "UpdateDICOMModalityRequest": {
        "required": ["aet", "host", "port"],
        "type": "object",
        "properties": {
          "aet": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "useDicomTLS": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "UpdateTenantUserPasswordRequest": {
        "required": ["id", "newPassword"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "UpdateInferenceModelRequest": {
        "required": ["disallowedDICOMTags", "outputMode"],
        "type": "object",
        "properties": {
          "disallowedDICOMTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "outputMode": {
            "type": "string",
            "enum": ["JSON", "OHIF_ANNOTATIONS", "HTML", "WEB_APP", "PDF"]
          }
        }
      },
      "ValidateTurnstileTokenRequest": {
        "required": ["token"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "VerifyTenantUserEmailRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session token"
      },
      "firebaseSudoKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-FB-SUDO-KEY",
        "description": "Firebase superadmin key"
      }
    }
  }
}
