{
  "openapi": "3.0.2",
  "info": {
    "title": "PACS.AI API",
    "description": "PACS REST API documentation.",
    "termsOfService": "https://github.com/HeartWise-AI",
    "contact": {
      "name": "HeartWise AI",
      "email": "hello@heartwise.ai"
    },
    "version": "0.27.0-beta"
  },
  "servers": [
    {
      "url": "https://pacs-api.heartwise.ai/api/v1",
      "description": "Production"
    },
    {
      "url": "https://sgbmavram01.icm.local/api/v1",
      "description": "Production MHI"
    },
    {
      "url": "http://198.168.188.204/api/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local Docker"
    }
  ],
  "tags": [
    {
      "name": "elasticsearch",
      "description": "Elasticsearch service"
    },
    {
      "name": "iam",
      "description": "IAM service"
    },
    {
      "name": "inference",
      "description": "Inference service"
    },
    {
      "name": "lead",
      "description": "Lead service"
    },
    {
      "name": "orthanc",
      "description": "Orthanc service"
    },
    {
      "name": "tenant",
      "description": "Tenant service"
    },
    {
      "name": "user",
      "description": "User service"
    }
  ],
  "paths": {
    "/ecs/logs": {
      "get": {
        "tags": ["elasticsearch"],
        "summary": "Search Elasticsearch Logs",
        "description": "Search elasticsearch logs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "description": "Index of document",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "logins",
                "admin_invites",
                "admin_members",
                "find_modality_studies",
                "predict_inference_models",
                "retrieved_studies",
                "signed_consents"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Target query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date range (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date range (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "export",
            "in": "query",
            "description": "Export to CSV",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/ecs/kibana/indices/sync": {
      "patch": {
        "tags": ["elasticsearch"],
        "summary": "Sync Kibana Indices - SUPERADMIN",
        "description": "Sync kibana indices. Callable by superadmin only.",
        "security": [
          {
            "firebaseSudoKey": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/login": {
      "post": {
        "tags": ["iam"],
        "summary": "Login Tenant User",
        "description": "Login tenant user.",
        "requestBody": {
          "description": "Login tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/forgot-password": {
      "post": {
        "tags": ["iam"],
        "summary": "Forgot Tenant User Password",
        "description": "Forgot tenant user password.",
        "requestBody": {
          "description": "Forgot tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/verify-email": {
      "post": {
        "tags": ["iam"],
        "summary": "Verify Tenant User Email",
        "description": "Verify tenant user email.",
        "requestBody": {
          "description": "Verify tenant user email request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTenantUserEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/add": {
      "post": {
        "tags": ["inference"],
        "summary": "Add Inference Model",
        "description": "Add inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Add inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/onboarding-model-questionnaire-answers/add": {
      "post": {
        "tags": ["inference"],
        "summary": "Add Onboarding Model Questionnaire Answers",
        "description": "Add onboarding model questionnaire answers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Add onboarding model questionnaire answer request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOnboardingModelQuestionnaireAnswerRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/restart": {
      "post": {
        "tags": ["inference"],
        "summary": "Restart Inference Model Container",
        "description": "Restart inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/start": {
      "post": {
        "tags": ["inference"],
        "summary": "Start Inference Model Container",
        "description": "Start inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/stop": {
      "post": {
        "tags": ["inference"],
        "summary": "Stop Inference Model Container",
        "description": "Stop inference model container.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/predict": {
      "post": {
        "tags": ["inference"],
        "summary": "Predict Inference Model",
        "description": "Predict inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Predict inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "429": {
            "description": "Per-user inference allowance or concurrency limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request should be retried",
                "schema": { "type": "integer", "minimum": 1 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InferenceQuotaLimitResponse" }
              }
            }
          },
          "503": {
            "description": "Inference quota enforcement is unavailable and fails closed"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/job/create": {
      "post": {
        "tags": ["inference"],
        "summary": "Create Inference Ingestion Job",
        "description": "Create inference ingestion job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Create inference ingestion job request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInferenceIngestionJobRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/job/{id}/start": {
      "post": {
        "tags": ["inference"],
        "summary": "Start Inference Ingestion Job",
        "description": "Start inference ingestion job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/job/{id}/stop": {
      "post": {
        "tags": ["inference"],
        "summary": "Stop Inference Ingestion Job",
        "description": "Stop inference ingestion job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/list": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Models",
        "description": "Get inference models.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/jobs/import": {
      "post": {
        "tags": ["inference"],
        "summary": "Import Ingestion Jobs CSV",
        "description": "Import ingestion jobs from CSV file.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Upload csv file",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/container/{containerID}/info": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Container Info",
        "description": "Get inference model container info.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/info": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Info",
        "description": "Get inference model info.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/container/{containerID}/facts": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Model Facts",
        "description": "Get inference model facts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "containerID",
            "in": "path",
            "description": "Container ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/proxy/available": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Available Models",
        "description": "Get inference available models.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{modelId}/feedback": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Model Feedback By Model ID",
        "description": "Get model feedback by model ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/onboarding-model-questionnaire-answers": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Onboarding Model Questionnaire Answers",
        "description": "Get onboarding model questionnaire answers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "query",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/jobs": {
      "get": {
        "tags": ["inference"],
        "summary": "Get Inference Ingestion Jobs",
        "description": "Get inference ingestion jobs.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{id}/update": {
      "put": {
        "tags": ["inference"],
        "summary": "Update Inference Model",
        "description": "Update inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update inference model request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInferenceModelRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/feedback/update": {
      "put": {
        "tags": ["inference"],
        "summary": "Update Model Feedback",
        "description": "Update model feedback.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update model feedback request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/job/{id}/update": {
      "put": {
        "tags": ["inference"],
        "summary": "Update Inference Ingestion Job",
        "description": "Update inference ingestion job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference ingestion sjob ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update inference ingestion job request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInferenceIngestionJobRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{id}/remove": {
      "delete": {
        "tags": ["inference"],
        "summary": "Delete Inference Model",
        "description": "Delete inference model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/model/{modelId}/feedback/remove": {
      "delete": {
        "tags": ["inference"],
        "summary": "Remove Model Feedback",
        "description": "Remove model feedback.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/inference/ingestion/job/{id}/remove": {
      "delete": {
        "tags": ["inference"],
        "summary": "Delete Inference Ingestion Job",
        "description": "Delete inference ingestion job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inference ingestion job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/lead/contact-form": {
      "post": {
        "tags": ["lead"],
        "summary": "Add Contact Form",
        "description": "Add contact form.",
        "requestBody": {
          "description": "Add contact form request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactFormRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/lead/subscribe": {
      "post": {
        "tags": ["lead"],
        "summary": "Subscribe to Newsletter",
        "description": "Subscribe to newsletter.",
        "requestBody": {
          "description": "Subscribe request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/onboarding-questionnaire-answers/add": {
      "post": {
        "tags": ["tenant"],
        "summary": "Add Onboarding Questionnaire Answers",
        "description": "Add onboarding questionnaire answers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Save onboarding questionnaire answer request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOnboardingQuestionnaireAnswerRequest"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/onboarding-questionnaire-answers": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Onboarding Questionnaire Answers",
        "description": "Get onboarding questionnaire answers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "questionnaireType",
            "in": "query",
            "description": "Onboarding questionnaire type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["PRE_SURVEY", "POST_SURVEY"]
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Tenant By ID",
        "description": "Get tenant by id.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/echo": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Trigger DICOM Echo SCU",
        "description": "Trigger DICOM Echo SCU. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/studies": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Find Modality Studies",
        "description": "Find modality studies.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Find modality studies request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindModalityStudiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/retrieve": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Retrieve Modality Study",
        "description": "Retrieve modality study.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Retrieve modality study request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveModalityStudyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityID}/study/{studyInstanceUID}/series/store": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Store Study Custom Series",
        "description": "Store study custom series and write to PACS.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityID",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studyInstanceUID",
            "in": "path",
            "description": "Study Instance UID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Store study custom series request",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "seriesInstanceUIDs": {
                    "type": "string",
                    "description": "JSON stringified array of series instance UIDs"
                  },
                  "patientID": {
                    "type": "string"
                  },
                  "patientName": {
                    "type": "string"
                  },
                  "modelName": {
                    "type": "string"
                  },
                  "modelVersion": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "seriesInstanceUIDs",
                  "patientID",
                  "patientName",
                  "modelName",
                  "modelVersion"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/jobs": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Get Jobs Info",
        "description": "Get jobs information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobIds",
            "in": "query",
            "description": "Job IDs",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modalities/list": {
      "get": {
        "tags": ["orthanc"],
        "summary": "List DICOM Modalities",
        "description": "List DICOM modalities.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityID}/linked/storage/enabled": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Get Linked DICOM Modality With Enabled C-Store",
        "description": "Get linked DICOM modality with enabled C-Store.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityID",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/sop-instance/{sopInstanceUID}/find": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Find Local SOP Instance",
        "description": "Find local SOP instance.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sopInstanceUID",
            "in": "path",
            "description": "SOP Instance UID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/update": {
      "put": {
        "tags": ["orthanc"],
        "summary": "Update DICOM Modality",
        "description": "Update DICOM modality. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update DICOM modality request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDICOMModalityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/{modalityId}/remove": {
      "delete": {
        "tags": ["orthanc"],
        "summary": "Remove DICOM Modality",
        "description": "Remove DICOM modality. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "modalityId",
            "in": "path",
            "description": "Modality ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/public": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Public Tenant By ID",
        "description": "Get public tenant by id.",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/onboarding-consent/config/update": {
      "put": {
        "tags": ["tenant"],
        "summary": "Update Onboarding Consent Config",
        "description": "Update onboarding consent configuration.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update onboarding consent configuration request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnboardingConsentConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/onboarding-registration/config/update": {
      "put": {
        "tags": ["tenant"],
        "summary": "Update Onboarding Registration Config",
        "description": "Update onboarding registration configuration.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update onboarding registration configuration request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnboardingRegistrationConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/owner/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant Owner - SUPERADMIN",
        "description": "Create tenant owner. Callable by superadmin only.",
        "security": [
          {
            "firebaseSudoKey": []
          }
        ],
        "requestBody": {
          "description": "Create tenant owner request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantOwnerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant User",
        "description": "Create tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Create tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/invite": {
      "post": {
        "tags": ["user"],
        "summary": "Invite Tenant User",
        "description": "Invite tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Invite tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTenantEmailInviteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": ["user"],
        "summary": "Register Tenant User",
        "description": "Register tenant user.",
        "requestBody": {
          "description": "Register tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "429": {
            "description": "Registration rate limit exceeded. The response errorCode is REGISTRATION_RATE_LIMITED.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the current registration throttle window expires.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/invite/resend": {
      "post": {
        "tags": ["user"],
        "summary": "Resend Tenant Invitation",
        "description": "Resend tenant user invitation. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Resend tenant user invitation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendTenantEmailInviteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/tutorial/reset": {
      "post": {
        "tags": ["user"],
        "summary": "Reset Tutorial",
        "description": "Reset tutorial.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/all": {
      "get": {
        "tags": ["user"],
        "summary": "Get Tenant Users",
        "description": "Get tenant users.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/invites": {
      "get": {
        "tags": ["user"],
        "summary": "Get Tenant User Email Invites",
        "description": "Get tenant user email invites. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/specialties": {
      "get": {
        "tags": ["user"],
        "summary": "Get Doctor Specialties",
        "description": "Get doctor specialties.",
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "tags": ["user"],
        "summary": "Get Current Tenant User",
        "description": "Get current tenant user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/metadata": {
      "get": {
        "tags": ["user"],
        "summary": "Get User Metadata",
        "description": "Get user metadata.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User",
        "description": "Update tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/password/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User Password",
        "description": "Update tenant user password.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/metadata/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update User Metadata",
        "description": "Update user metadata.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update user metadata request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/{id}/remove": {
      "delete": {
        "tags": ["user"],
        "summary": "Remove Tenant User",
        "description": "Remove tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": { "description": "Success" },
          "4xx": { "description": "Client side errors" },
          "5xx": { "description": "Server side errors" }
        }
      }
    },
    "/user/invite/{id}/remove": {
      "delete": {
        "tags": ["user"],
        "summary": "Remove Tenant User Email Invite",
        "description": "Remove tenant user email invite. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Email invite ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": { "description": "Success" },
          "4xx": { "description": "Client side errors" },
          "5xx": { "description": "Server side errors" }
        }
      }
    },
    "/inference/quota": {
      "get": {
        "tags": ["inference"],
        "summary": "Get authenticated user inference quota",
        "description": "Returns the fixed-window allowance and active inference reservations for the authenticated tenant/user. Responses are not cacheable.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Current per-user inference quota state",
            "headers": {
              "Cache-Control": {
                "schema": { "type": "string", "example": "no-store" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InferenceQuotaResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "503": { "$ref": "#/components/responses/InferenceQuotaUnavailable" }
        }
      }
    },
    "/inference/worklist/status": {
      "get": {
        "tags": ["inference"],
        "summary": "Get current worklist study statuses",
        "description": "Returns one current ingestion and processing summary per logical study for the authenticated tenant. Callable by an owner or administrator only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "studyInstanceUID",
            "in": "query",
            "description": "Repeat this parameter to restrict the snapshot to studies visible on the current frontend page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          { "$ref": "#/components/parameters/WorklistLimit" },
          { "$ref": "#/components/parameters/WorklistOffset" }
        ],
        "responses": {
          "200": {
            "description": "Current study-processing snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorklistStudyStatusResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/WorklistBadRequest" },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "403": { "$ref": "#/components/responses/WorklistForbidden" },
          "500": { "$ref": "#/components/responses/WorklistServerError" },
          "503": { "$ref": "#/components/responses/WorklistUnavailable" }
        }
      }
    },
    "/inference/worklist/events": {
      "get": {
        "tags": ["inference"],
        "summary": "Stream real-time worklist study updates",
        "description": "Opens a tenant-scoped Server-Sent Events connection. Reload GET /inference/worklist/status after every reconnect because events are not durably replayed. Callable by an owner or administrator only.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "SSE stream containing study_status.updated events and heartbeat comments",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" },
                "x-event-data-schema": { "$ref": "#/components/schemas/WorklistStudyStatusEvent" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "403": { "$ref": "#/components/responses/WorklistForbidden" },
          "500": { "$ref": "#/components/responses/WorklistServerError" },
          "503": { "$ref": "#/components/responses/WorklistUnavailable" }
        }
      }
    },
    "/inference/worklist/studies/{studyInstanceUID}/runs": {
      "get": {
        "tags": ["inference"],
        "summary": "Get study processing-run history",
        "description": "Returns processing attempts newest first, including each run's frozen model execution plan, for the authenticated tenant. Callable by an owner or administrator only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "studyInstanceUID",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/WorklistLimit" },
          { "$ref": "#/components/parameters/WorklistOffset" }
        ],
        "responses": {
          "200": {
            "description": "Paginated processing-run history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StudyProcessingRunHistoryResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/WorklistBadRequest" },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "403": { "$ref": "#/components/responses/WorklistForbidden" },
          "500": { "$ref": "#/components/responses/WorklistServerError" },
          "503": { "$ref": "#/components/responses/WorklistUnavailable" }
        }
      }
    },
    "/inference/processing/runs/{runId}": {
      "get": {
        "tags": ["inference"],
        "summary": "Get processing-run detail",
        "description": "Returns one processing attempt and its frozen model execution plan only when it belongs to the authenticated tenant. Callable by an owner or administrator only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Processing-run detail",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProcessingRunDetailResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/WorklistBadRequest" },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "403": { "$ref": "#/components/responses/WorklistForbidden" },
          "404": { "$ref": "#/components/responses/ProcessingRunNotFound" },
          "500": { "$ref": "#/components/responses/WorklistServerError" },
          "503": { "$ref": "#/components/responses/WorklistUnavailable" }
        }
      }
    },
    "/inference/worklist/studies/{studyInstanceUID}/reprocess": {
      "post": {
        "tags": ["inference"],
        "summary": "Create a manual study reprocessing run",
        "description": "Creates one tenant-scoped manual processing run and reserves one unit from the authenticated user's inference quota. Callable by an owner or administrator only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "studyInstanceUID",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "201": { "description": "Manual processing run created" },
          "400": { "$ref": "#/components/responses/WorklistBadRequest" },
          "401": { "$ref": "#/components/responses/WorklistUnauthorized" },
          "403": { "$ref": "#/components/responses/WorklistForbidden" },
          "409": { "description": "The study already has an active processing run" },
          "429": {
            "description": "Per-user inference allowance or concurrency limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request should be retried",
                "schema": { "type": "integer", "minimum": 1 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InferenceQuotaLimitResponse" }
              }
            }
          },
          "503": { "$ref": "#/components/responses/InferenceQuotaUnavailable" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InferenceQuotaData": {
        "type": "object",
        "required": ["allowance", "used", "remaining", "windowSeconds", "resetAfterSeconds", "maxConcurrentExecutions", "activeExecutions", "concurrencyRetryAfterSeconds"],
        "properties": {
          "allowance": { "type": "integer", "format": "int64", "minimum": 1 },
          "used": { "type": "integer", "format": "int64", "minimum": 0 },
          "remaining": { "type": "integer", "format": "int64", "minimum": 0 },
          "windowSeconds": { "type": "integer", "format": "int64", "minimum": 1 },
          "resetAfterSeconds": { "type": "integer", "format": "int64", "minimum": 0 },
          "resetAt": { "type": "integer", "format": "int64", "nullable": true },
          "maxConcurrentExecutions": { "type": "integer", "format": "int64", "minimum": 1 },
          "activeExecutions": { "type": "integer", "format": "int64", "minimum": 0 },
          "concurrencyRetryAfterSeconds": { "type": "integer", "format": "int64", "minimum": 0 }
        }
      },
      "InferenceQuotaResponse": {
        "type": "object",
        "required": ["success", "message", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/InferenceQuotaData" }
        }
      },
      "InferenceQuotaLimitResponse": {
        "type": "object",
        "required": ["success", "message", "errorCode", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [false] },
          "message": { "type": "string" },
          "errorCode": {
            "type": "string",
            "enum": ["INFERENCE_QUOTA_EXCEEDED", "INFERENCE_CONCURRENCY_EXCEEDED"]
          },
          "data": {
            "type": "object",
            "required": ["allowance", "used", "remaining", "resetAfterSeconds", "maxConcurrentExecutions", "activeExecutions", "retryAfterSeconds"],
            "properties": {
              "allowance": { "type": "integer", "format": "int64", "minimum": 1 },
              "used": { "type": "integer", "format": "int64", "minimum": 0 },
              "remaining": { "type": "integer", "format": "int64", "minimum": 0 },
              "resetAfterSeconds": { "type": "integer", "format": "int64", "minimum": 0 },
              "maxConcurrentExecutions": { "type": "integer", "format": "int64", "minimum": 1 },
              "activeExecutions": { "type": "integer", "format": "int64", "minimum": 0 },
              "retryAfterSeconds": { "type": "integer", "format": "int64", "minimum": 0 }
            }
          }
        }
      },
      "WorklistPage": {
        "type": "object",
        "required": ["limit", "offset", "hasMore"],
        "properties": {
          "limit": { "type": "integer", "minimum": 1, "maximum": 100 },
          "offset": { "type": "integer", "minimum": 0 },
          "hasMore": { "type": "boolean" }
        }
      },
      "ProcessingRunCounts": {
        "type": "object",
        "required": ["expectedModels", "pendingModels", "queuedModels", "runningModels", "completedModels", "failedModels", "skippedModels", "cancelledModels", "activeModels"],
        "properties": {
          "expectedModels": { "type": "integer", "minimum": 0 },
          "pendingModels": { "type": "integer", "minimum": 0 },
          "queuedModels": { "type": "integer", "minimum": 0 },
          "runningModels": { "type": "integer", "minimum": 0 },
          "completedModels": { "type": "integer", "minimum": 0 },
          "failedModels": { "type": "integer", "minimum": 0 },
          "skippedModels": { "type": "integer", "minimum": 0 },
          "cancelledModels": { "type": "integer", "minimum": 0 },
          "activeModels": { "type": "integer", "minimum": 0 }
        }
      },
      "ProcessingRunAttentionReason": {
        "type": "object",
        "required": ["code"],
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string", "nullable": true }
        }
      },
      "WorklistStudyStatus": {
        "allOf": [
          { "$ref": "#/components/schemas/ProcessingRunCounts" },
          {
            "type": "object",
            "required": ["studyInstanceUID", "ingestionStatus", "retrievalState", "retrievalError", "runId", "runNumber", "trigger", "phase", "outcome", "attentionRequired", "attentionReasons", "version", "startedAt", "completedAt", "updatedAt"],
            "properties": {
              "studyInstanceUID": { "type": "string" },
              "ingestionStatus": {
                "type": "string",
                "enum": ["DISCOVERED", "GROWING", "STABLE", "RETRIEVAL_QUEUED", "RETRIEVED", "DISAPPEARED", "FAILED"]
              },
              "retrievalState": { "type": "string", "nullable": true },
              "retrievalError": { "type": "string", "nullable": true },
              "runId": { "type": "string", "nullable": true },
              "runNumber": { "type": "integer", "nullable": true },
              "trigger": {
                "type": "string",
                "nullable": true,
                "enum": ["AUTO", "MANUAL_REPROCESS", "LEGACY_IMPORT"]
              },
              "phase": {
                "type": "string",
                "nullable": true,
                "enum": ["QUEUED", "PROCESSING", "TERMINAL"]
              },
              "outcome": {
                "type": "string",
                "nullable": true,
                "enum": ["SUCCESS", "SUCCESS_WITH_SKIPS", "PARTIAL_SUCCESS", "NO_RESULT", "FAILED", "CANCELLED"]
              },
              "attentionRequired": { "type": "boolean" },
              "attentionReasons": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingRunAttentionReason" }
              },
              "version": { "type": "integer", "format": "int64", "nullable": true },
              "startedAt": { "type": "string", "format": "date-time", "nullable": true },
              "completedAt": { "type": "string", "format": "date-time", "nullable": true },
              "updatedAt": { "type": "string", "format": "date-time" }
            }
          }
        ]
      },
      "WorklistStudyStatusEvent": {
        "allOf": [
          { "$ref": "#/components/schemas/ProcessingRunCounts" },
          {
            "type": "object",
            "required": ["type", "studyInstanceUID", "runId", "runNumber", "trigger", "phase", "outcome", "attentionRequired", "attentionReasons", "version", "startedAt", "completedAt", "updatedAt"],
            "properties": {
              "type": { "type": "string", "enum": ["study_status.updated"] },
              "studyInstanceUID": { "type": "string" },
              "runId": { "type": "string" },
              "runNumber": { "type": "integer", "minimum": 1 },
              "trigger": { "type": "string", "enum": ["AUTO", "MANUAL_REPROCESS", "LEGACY_IMPORT"] },
              "phase": { "type": "string", "enum": ["QUEUED", "PROCESSING", "TERMINAL"] },
              "outcome": {
                "type": "string",
                "nullable": true,
                "enum": ["SUCCESS", "SUCCESS_WITH_SKIPS", "PARTIAL_SUCCESS", "NO_RESULT", "FAILED", "CANCELLED"]
              },
              "attentionRequired": { "type": "boolean" },
              "attentionReasons": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingRunAttentionReason" }
              },
              "version": { "type": "integer", "format": "int64", "minimum": 1 },
              "startedAt": { "type": "string", "format": "date-time", "nullable": true },
              "completedAt": { "type": "string", "format": "date-time", "nullable": true },
              "updatedAt": { "type": "string", "format": "date-time" }
            }
          }
        ]
      },
      "ProcessingRunExecutionSummary": {
        "type": "object",
        "required": ["executionId", "modelName", "modelVersion", "modality", "status", "errorMessage", "skipReason", "startedAt", "completedAt", "updatedAt"],
        "properties": {
          "executionId": { "type": "string" },
          "modelName": { "type": "string" },
          "modelVersion": { "type": "string", "nullable": true },
          "modality": { "type": "string", "nullable": true },
          "status": {
            "type": "string",
            "enum": ["pending", "queued", "running", "completed", "failed", "skipped", "cancelled"]
          },
          "errorMessage": { "type": "string", "nullable": true },
          "skipReason": {
            "nullable": true,
            "allOf": [{ "$ref": "#/components/schemas/ProcessingRunSkipReason" }]
          },
          "startedAt": { "type": "string", "format": "date-time", "nullable": true },
          "completedAt": { "type": "string", "format": "date-time", "nullable": true },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ProcessingRunSkipReason": {
        "type": "object",
        "required": ["code"],
        "properties": {
          "code": {
            "type": "string",
            "enum": ["NO_USABLE_DICOM", "UNSUPPORTED_MODALITY", "REQUIRED_SERIES_MISSING", "MODEL_NOT_APPLICABLE", "PREREQUISITE_NOT_MET", "MODEL_DISABLED"]
          },
          "message": { "type": "string", "nullable": true }
        }
      },
      "ProcessingRunSummary": {
        "allOf": [
          { "$ref": "#/components/schemas/ProcessingRunCounts" },
          {
            "type": "object",
            "required": ["runId", "studyInstanceUID", "runNumber", "trigger", "phase", "outcome", "attentionRequired", "attentionReasons", "version", "startedAt", "completedAt", "createdAt", "updatedAt"],
            "properties": {
              "runId": { "type": "string" },
              "studyInstanceUID": { "type": "string" },
              "runNumber": { "type": "integer", "minimum": 1 },
              "trigger": { "type": "string", "enum": ["AUTO", "MANUAL_REPROCESS", "LEGACY_IMPORT"] },
              "phase": { "type": "string", "enum": ["QUEUED", "PROCESSING", "TERMINAL"] },
              "outcome": {
                "type": "string",
                "nullable": true,
                "enum": ["SUCCESS", "SUCCESS_WITH_SKIPS", "PARTIAL_SUCCESS", "NO_RESULT", "FAILED", "CANCELLED"]
              },
              "attentionRequired": { "type": "boolean" },
              "attentionReasons": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingRunAttentionReason" }
              },
              "version": { "type": "integer", "format": "int64" },
              "startedAt": { "type": "string", "format": "date-time", "nullable": true },
              "completedAt": { "type": "string", "format": "date-time", "nullable": true },
              "createdAt": { "type": "string", "format": "date-time" },
              "updatedAt": { "type": "string", "format": "date-time" }
            }
          }
        ]
      },
      "ProcessingRunDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/ProcessingRunSummary" },
          {
            "type": "object",
            "required": ["executions"],
            "properties": {
              "executions": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingRunExecutionSummary" }
              }
            }
          }
        ]
      },
      "WorklistStudyStatusPage": {
        "allOf": [
          { "$ref": "#/components/schemas/WorklistPage" },
          {
            "type": "object",
            "required": ["studies"],
            "properties": {
              "studies": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/WorklistStudyStatus" }
              }
            }
          }
        ]
      },
      "StudyProcessingRunHistoryPage": {
        "allOf": [
          { "$ref": "#/components/schemas/WorklistPage" },
          {
            "type": "object",
            "required": ["runs"],
            "properties": {
              "runs": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingRunDetail" }
              }
            }
          }
        ]
      },
      "WorklistStudyStatusResponse": {
        "type": "object",
        "required": ["success", "message", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/WorklistStudyStatusPage" }
        }
      },
      "StudyProcessingRunHistoryResponse": {
        "type": "object",
        "required": ["success", "message", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/StudyProcessingRunHistoryPage" }
        }
      },
      "ProcessingRunDetailResponse": {
        "type": "object",
        "required": ["success", "message", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ProcessingRunDetail" }
        }
      },
      "WorklistErrorResponse": {
        "type": "object",
        "required": ["success", "message", "errorCode", "data"],
        "properties": {
          "success": { "type": "boolean", "enum": [false] },
          "message": { "type": "string" },
          "errorCode": { "type": "string" },
          "data": { "type": "object" }
        }
      },
      "AddInferenceModelRequest": {
        "required": ["name", "dockerImage", "outputMode"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "dockerImage": {
            "type": "string"
          },
          "envs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "outputMode": {
            "type": "string",
            "enum": ["JSON", "OHIF_ANNOTATIONS", "HTML", "WEB_APP", "PDF"]
          }
        }
      },
      "AddContactFormRequest": {
        "required": ["token", "name", "email", "message"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AddOnboardingQuestionnaireAnswerRequest": {
        "required": ["questionnaireType", "onboardingQuestionnaireAnswers"],
        "type": "object",
        "properties": {
          "questionnaireType": {
            "type": "string",
            "enum": ["PRE_SURVEY", "POST_SURVEY"]
          },
          "onboardingQuestionnaireAnswers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["questionnaireId", "questionnaireQuestion"],
              "properties": {
                "questionnaireId": {
                  "type": "string"
                },
                "questionnaireQuestion": {
                  "type": "string"
                },
                "questionnaireAnswerIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "questionnaireAnswers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AddOnboardingModelQuestionnaireAnswerRequest": {
        "required": ["modelId", "onboardingModelQuestionnaireAnswers"],
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string"
          },
          "onboardingModelQuestionnaireAnswers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["questionnaireId", "questionnaireQuestion"],
              "properties": {
                "questionnaireId": {
                  "type": "string"
                },
                "questionnaireQuestion": {
                  "type": "string"
                },
                "questionnaireAnswerIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "questionnaireAnswers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CreateTenantOwnerRequest": {
        "required": [
          "tenantId",
          "role",
          "name",
          "email",
          "licenseNo",
          "specialty"
        ],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "CreateTenantUserRequest": {
        "required": ["role", "name", "email", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "CreateInferenceIngestionJobRequest": {
        "required": [
          "dicomModality",
          "containerId",
          "modelId",
          "modelName",
          "modelVersion",
          "modalities",
          "intervalInMinutes",
          "scheduleStartTimestamp",
          "scheduleEndTimestamp"
        ],
        "type": "object",
        "properties": {
          "dicomModality": {
            "type": "string"
          },
          "containerId": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "modelName": {
            "type": "string"
          },
          "modelVersion": {
            "type": "string"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "intervalInMinutes": {
            "type": "integer"
          },
          "scheduleStartTimestamp": {
            "type": "integer"
          },
          "scheduleEndTimestamp": {
            "type": "integer"
          }
        }
      },
      "ForgotTenantUserPasswordRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "FindModalityStudiesRequest": {
        "required": ["modalityId"],
        "type": "object",
        "properties": {
          "modalityId": {
            "type": "string"
          },
          "accessionNumber": {
            "type": "string"
          },
          "institutionName": {
            "type": "string"
          },
          "modalitiesInStudy": {
            "type": "string"
          },
          "numberOfStudyRelatedSeries": {
            "type": "string"
          },
          "patientBirthDate": {
            "type": "string"
          },
          "patientId": {
            "type": "string"
          },
          "patientName": {
            "type": "string"
          },
          "patientSex": {
            "type": "string"
          },
          "referringPhysicianName": {
            "type": "string"
          },
          "requestingPhysician": {
            "type": "string"
          },
          "studyDate": {
            "type": "string"
          },
          "studyDescription": {
            "type": "string"
          },
          "studyId": {
            "type": "string"
          },
          "studyInstanceUID": {
            "type": "string"
          },
          "studyTime": {
            "type": "string"
          }
        }
      },
      "LoginTenantUserRequest": {
        "required": ["tenantId", "idToken"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "idToken": {
            "type": "string"
          }
        }
      },
      "PredictionRequest": {
        "required": ["queryId"],
        "type": "object",
        "properties": {
          "queryId": {
            "type": "string"
          }
        }
      },
      "PredictInferenceModelRequest": {
        "required": ["studyInstanceUID", "seriesInstanceUIDs"],
        "type": "object",
        "properties": {
          "studyInstanceUID": {
            "type": "string"
          },
          "seriesInstanceUIDs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additionalMetadata": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "RegisterTenantUserRequest": {
        "required": [
          "tenantId",
          "turnstileToken",
          "name",
          "email",
          "password",
          "licenseNo",
          "specialty"
        ],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "turnstileToken": {
            "type": "string",
            "description": "Single-use Cloudflare Turnstile response generated for this registration attempt."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },

          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RetrieveModalityStudyRequest": {
        "required": ["modalityId", "studyInstanceUID"],
        "type": "object",
        "properties": {
          "modalityId": {
            "type": "string"
          },
          "studyInstanceUID": {
            "type": "string"
          }
        }
      },
      "ResendTenantEmailInviteRequest": {
        "required": ["id"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "SendTenantEmailInviteRequest": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "SubscribeRequest": {
        "required": ["token", "email"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "StoreStudyCustomSeriesRequest": {
        "required": [
          "modelName",
          "modelVersion",
          "encodedData",
          "inputSeriesFileType"
        ],
        "type": "object",
        "properties": {
          "modelName": {
            "type": "string"
          },
          "modelVersion": {
            "type": "string"
          },
          "encodedData": {
            "type": "string"
          },
          "inputSeriesFileType": {
            "type": "string",
            "enum": ["PDF", "DCM"]
          }
        }
      },
      "UpdateModelFeedbackRequest": {
        "required": ["inferenceModelId", "modelId", "feedbackType"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "inferenceModelId": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "feedbackType": {
            "type": "string",
            "enum": ["APPROVE", "REJECT"]
          },
          "modelFeedbackAnswers": {
            "required": [
              "questionnaireId",
              "questionnaireQuestion",
              "questionnaireAnswerIds",
              "questionnaireAnswers"
            ],
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "questionnaireId": {
                  "type": "string"
                },
                "questionnaireQuestion": {
                  "type": "string"
                },
                "questionnaireAnswerIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "questionnaireAnswers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateOnboardingConsentConfigRequest": {
        "required": ["onboardingEnableConsent"],
        "type": "object",
        "properties": {
          "onboardingEnableConsent": {
            "type": "boolean"
          }
        }
      },
      "UpdateOnboardingRegistrationConfigRequest": {
        "required": ["onboardingEnableRegistration"],
        "type": "object",
        "properties": {
          "onboardingEnableRegistration": {
            "type": "boolean"
          }
        }
      },
      "UpdateTenantUserRequest": {
        "required": ["id", "role", "name", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "UpdateDICOMModalityRequest": {
        "required": ["aet", "host", "port"],
        "type": "object",
        "properties": {
          "aet": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "useDicomTLS": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "UpdateTenantUserPasswordRequest": {
        "required": ["id", "newPassword"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "UpdateInferenceModelRequest": {
        "required": ["disallowedDICOMTags", "outputMode"],
        "type": "object",
        "properties": {
          "disallowedDICOMTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "outputMode": {
            "type": "string",
            "enum": ["JSON", "OHIF_ANNOTATIONS", "HTML", "WEB_APP", "PDF"]
          }
        }
      },
      "UpdateInferenceIngestionJobRequest": {
        "required": [
          "modalities",
          "intervalInMinutes",
          "scheduleStartTimestamp",
          "scheduleEndTimestamp"
        ],
        "type": "object",
        "properties": {
          "modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "intervalInMinutes": {
            "type": "integer"
          },
          "scheduleStartTimestamp": {
            "type": "integer"
          },
          "scheduleEndTimestamp": {
            "type": "integer"
          }
        }
      },
      "UpdateUserMetadataRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object"
          }
        }
      },
      "ValidateTurnstileTokenRequest": {
        "required": ["token"],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "VerifyTenantUserEmailRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "WorklistLimit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum records returned. Defaults to 25 and cannot exceed 100.",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "WorklistOffset": {
        "name": "offset",
        "in": "query",
        "description": "Zero-based number of records to skip.",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "responses": {
      "WorklistBadRequest": {
        "description": "Invalid pagination, identifier, or visible-study filter",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "WorklistUnauthorized": {
        "description": "Authentication is required",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "WorklistForbidden": {
        "description": "The authenticated user is not an owner or administrator",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "ProcessingRunNotFound": {
        "description": "The run does not exist in the authenticated tenant",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "WorklistServerError": {
        "description": "Database or internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "WorklistUnavailable": {
        "description": "Worklist status is temporarily unavailable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      },
      "InferenceQuotaUnavailable": {
        "description": "Redis-backed inference quota enforcement is temporarily unavailable and fails closed",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/WorklistErrorResponse" }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session token"
      },
      "firebaseSudoKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-FB-SUDO-KEY",
        "description": "Firebase superadmin key"
      }
    }
  }
}
