{
  "openapi": "3.0.2",
  "info": {
    "title": "PACS.AI REST API",
    "description": "PACS REST API documentation.",
    "termsOfService": "https://github.com/HeartWise-AI",
    "contact": {
      "name": "HeartWise AI",
      "email": "hello@heartwise.ai"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://pacs-api.heartwise.ai/v1",
      "description": "Production"
    },
    {
      "url": "http://185.223.207.27/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "iam",
      "description": "IAM service"
    },
    {
      "name": "orthanc",
      "description": "Orthanc service"
    },
    {
      "name": "tenant",
      "description": "Tenant service"
    },
    {
      "name": "user",
      "description": "User service"
    }
  ],
  "paths": {
    "/iam/login": {
      "post": {
        "tags": ["iam"],
        "summary": "Login Tenant User",
        "description": "Login tenant user.",
        "requestBody": {
          "description": "Login tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/forgot-password": {
      "post": {
        "tags": ["iam"],
        "summary": "Forgot Tenant User Password",
        "description": "Forgot tenant user password.",
        "requestBody": {
          "description": "Forgot tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/iam/verify-email": {
      "post": {
        "tags": ["iam"],
        "summary": "Verify Tenant User Email",
        "description": "Verify tenant user email.",
        "requestBody": {
          "description": "Verify tenant user email request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTenantUserEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/modality/studies": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Get Modality Studies",
        "description": "Get modality studies.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Get modality studies request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModalityStudiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/retrieve/query/{queryID}/answer/{answerIndex}": {
      "post": {
        "tags": ["orthanc"],
        "summary": "Retrieve Modality Study",
        "description": "Retrieve modality study.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "queryID",
            "in": "path",
            "description": "Query ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerIndex",
            "in": "path",
            "description": "Answer Index",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/orthanc/job/{jobID}": {
      "get": {
        "tags": ["orthanc"],
        "summary": "Get Job Info",
        "description": "Get job information.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Tenant By ID",
        "description": "Get tenant by id.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/tenant/public": {
      "get": {
        "tags": ["tenant"],
        "summary": "Get Public Tenant By ID",
        "description": "Get public tenant by id.",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/owner/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant Owner - SUPERADMIN",
        "description": "Create tenant owner. Callable by superadmin only.",
        "security": [
          {
            "firebaseSudoKey": []
          }
        ],
        "requestBody": {
          "description": "Create tenant owner request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantOwnerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/add": {
      "post": {
        "tags": ["user"],
        "summary": "Create Tenant User",
        "description": "Create tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Create tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/all": {
      "get": {
        "tags": ["user"],
        "summary": "Get Tenant Users",
        "description": "Get tenant users.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/specialties": {
      "get": {
        "tags": ["user"],
        "summary": "Get Doctor Specialties",
        "description": "Get doctor specialties.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "tags": ["user"],
        "summary": "Get Current Tenant User",
        "description": "Get current tenant user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User",
        "description": "Update tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/password/update": {
      "put": {
        "tags": ["user"],
        "summary": "Update Tenant User Password",
        "description": "Update tenant user password.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Update tenant user password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": {
            "description": "Success"
          },
          "4xx": {
            "description": "Client side errors"
          },
          "5xx": {
            "description": "Server side errors"
          }
        }
      }
    },
    "/user/remove": {
      "delete": {
        "tags": ["user"],
        "summary": "Remove Tenant User",
        "description": "Remove tenant user. Callable by admin or owner only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Delete tenant user request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTenantUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2xx": { "description": "Success" },
          "4xx": { "description": "Client side errors" },
          "5xx": { "description": "Server side errors" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTenantOwnerRequest": {
        "required": [
          "tenantId",
          "role",
          "name",
          "email",
          "licenseNo",
          "specialty"
        ],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "CreateTenantUserRequest": {
        "required": ["role", "name", "email", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "DeleteTenantUserRequest": {
        "required": ["userId"],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          }
        }
      },
      "ForgotTenantUserPasswordRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "GetModalityStudiesRequest": {
        "required": [],
        "type": "object",
        "properties": {
          "accessionNumber": {
            "type": "string"
          },
          "institutionName": {
            "type": "string"
          },
          "modalitiesInStudy": {
            "type": "string"
          },
          "numberOfStudyRelatedSeries": {
            "type": "string"
          },
          "patientBirthDate": {
            "type": "string"
          },
          "patientID": {
            "type": "string"
          },
          "patientName": {
            "type": "string"
          },
          "patientSex": {
            "type": "string"
          },
          "referringPhysicianName": {
            "type": "string"
          },
          "requestingPhysician": {
            "type": "string"
          },
          "studyDate": {
            "type": "string"
          },
          "studyDescription": {
            "type": "string"
          },
          "studyID": {
            "type": "string"
          },
          "studyInstanceUID": {
            "type": "string"
          },
          "studyTime": {
            "type": "string"
          }
        }
      },
      "LoginTenantUserRequest": {
        "required": ["tenantId", "idToken"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "idToken": {
            "type": "string"
          }
        }
      },
      "UpdateTenantUserRequest": {
        "required": ["id", "role", "name", "licenseNo", "specialty"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "USER"]
          },
          "name": {
            "type": "string"
          },
          "licenseNo": {
            "type": "string"
          },
          "specialty": {
            "type": "string"
          }
        }
      },
      "UpdateTenantUserPasswordRequest": {
        "required": ["id", "newPassword"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "VerifyTenantUserEmailRequest": {
        "required": ["tenantId", "email"],
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session token"
      },
      "firebaseSudoKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-FB-SUDO-KEY",
        "description": "Firebase superadmin key"
      }
    }
  }
}
