API_NAME=api-pacs
API_URL_REST_PORT=8000
APP_URL=
INFERENCE_INGESTION_RUNNER_INTERVAL_MINUTES=1
INFERENCE_INGESTION_RETRIEVAL_WORKER_INTERVAL_MINUTES=1
INFERENCE_INGESTION_DEFAULT_RECENT_WINDOW_MINUTES=240

CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_TURNSTILE_BASE_URL=https://challenges.cloudflare.com/turnstile/v0

DOCKER_USERNAME=
DOCKER_PASSWORD=
DOCKER_NETWORK=pacs-net

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_BASE_URI=
DOCUSIGN_AUTH_SERVER=
DOCUSIGN_PRIVATE_KEY=
DOCUSIGN_ACCOUNT_ID=

ELASTICSEARCH_URL=

FIREBASE_CONFIG_FILE_PATH=
FIREBASE_PROJECT_ID=
FIREBASE_SUPERUSER_KEY=

KIBANA_BASE_URL=

MAILCHIMP_API_KEY=
MAILCHIMP_BASE_URL=
MAILCHIMP_LIST_ID=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_SENDER_EMAIL=

OPENAPI_DOCS_PASSWORD=

ORTHANC_AET=PACS_AI
ORTHANC_BASE_URL=http://orthanc:8042
ORTHANC_LOCAL_CACHE_EXPIRATION_IN_HOURS=24

ORCHESTRATOR_API_URL=http://medical-agent:8585
API_BASE_URL=http://api-pacs:8000/v1
STUDY_SERVICE_BASE_URL=http://study-service:8600
STUDY_SERVICE_INGEST_TOKEN=
STUDY_SERVICE_CALLBACK_TOKEN=

POSTGRES_DB_HOST=
POSTGRES_DB_PORT=5432
POSTGRES_DB_DATABASE=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_IAM_DB=1

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_BASE_URI=
DOCUSIGN_AUTH_SERVER=
DOCUSIGN_PRIVATE_KEY=
DOCUSIGN_ACCOUNT_ID=