API_NAME=api-pacs
API_URL_REST_PORT=8000
APP_URL=

AWS_REGION=
AWS_ACCESS_ID=
AWS_SECRET_KEY=

ELASTICSEARCH_URL=

FIREBASE_CONFIG_FILE_PATH=
FIREBASE_PROJECT_ID=
FIREBASE_SUPERUSER_KEY=

OPENAPI_DOCS_PASSWORD=

ORTHANC_AET=
ORTHANC_BASE_URL=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_IAM_DB=1
