model_config_list {
  config {
    name: 'quality_model'
    base_path: '/app/models/quality_serving_model'
    model_platform: 'tensorflow'
  },
  config {
    name: 'detection_model'
    base_path: '/app/models/detection_serving_model'
    model_platform: 'tensorflow'
  },
  config {
    name: 'device_type_model'
    base_path: '/app/models/device_type_serving_model'
    model_platform: 'tensorflow'
  }
}